include layout/utils

mixin banner(breadcrumbs, title, text)
    +section.banner-block
        .banner
            .banner-wrapper
            .banner-content 
                ul.breadcrumbs
                    each bc in breadcrumbs
                        li=bc
                h1.banner-title=title
                .banner-text: p=text
                    if block
                        block
            picture.banner-picture
                source(srcset=require("media/content/banner-mobile_img.jpg?as=webp") media="(max-width: 1000px)")
                source(srcset=require("media/content/image-16.webp"))
                +img(require("media/content/image-16.webp"))